syntax = "proto3";

package fhirproxy;

option go_package = "proto";

import "github.com/google/fhir/proto/stu3/resources.proto";

{{- range .Resource -}}

{{$type := .Type}}
{{$searchParams := .SearchParam}}

service {{.Type}} {
    {{range .Interaction -}}
    {{if (eq .Code "read") -}}
    rpc Read(Read{{$type}}Request) returns (Read{{$type}}Response) {}
    {{else if (eq .Code "search-type") -}}
    rpc Search(Search{{$type}}Request) returns (Search{{$type}}Response) {}
    {{- end}}
    {{- end}}
}

{{- range .Interaction -}}

{{if (eq .Code "read")}}
message Read{{$type}}Request {
    string id = 1;
}
message Read{{$type}}Response {
    google.fhir.stu3.proto.{{$type}} resource = 1;
}
{{else if (eq .Code "search-type")}}
message Search{{$type}}Request {
{{- /* FIXME: the ordering of params is significant, so they should probably be sorted alphabetically, but even then it would break backward compatibility if a future version of the statement added new params */ -}}
{{- range $i,$p := $searchParams}}
    string {{normalise $p.Name}} = {{$i}};
{{- end}}
}
message Search{{$type}}Response {
    google.fhir.stu3.proto.Bundle results = 1;
}
{{- end}}

{{- end}}

{{- end}}
